
body{
    font-family: 'Slabo 27px', serif;
    background-image: url(images/back2.jpg);
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color:darkgray;
    background-blend-mode:screen;
}

h1{
    font-size: 50px;
}
 
.color{
    color: rgb(235, 235, 5);
}
section{
    display: flex;
}
.half{
    width: 50%;
    padding-left: 10%;
}
  .half img{
    width: 80%;
  }  
  

